$very-very-dark-grey: #111729;
$very-dark-grey: #20293A;
$dark-grey: #364153;
$grey: #4A5567;
$light-grey: #CDD5E0;
$violet: #1D1B48;
$blue: #3662E3;


//Typographies
$big-text: 32px;
$medium-text: 20px;
$body-text: 16px;
$small-text: 12px;


// family font
$family: "Be Vietnam Pro", sans-serif;